*,::after,::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #ffeae0;
}
.menu{
    /* width: 100%; */
    
    background-image: url(../img/backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
   
}
.margin{
    margin: 0 100px;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    color: white;
    /* background-color: #ffeae0   ; */
}
.nav .logo b{
    color: #ff511c;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right: 25px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
    color: white;
}
.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;background-color: #ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}
.icon1{
    background-color: #ff511c;
    color: white;
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
}
.grid{
    color: white;
    margin: 0 100px;
}
.content{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    margin-top: 110px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.content .content-left{
    display: block;
    width: 100%;
}
.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.content .content-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.content .content-left .info p{
    font-size: 23px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}
/* .content .content-left .button1{
    padding: 10px 23px;
    background-color: #ff511c;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
} */
/* From Uiverse.io by gagan-gv */ 
.button1 {
    padding: 15px 20px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    z-index: 1;
  }
  
  .button1::after,
  .button1::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button1::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #ff511c;
    border-radius: 10px;
  }
  
  .button1::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #faad96;
    backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .button1:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .button1:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button1:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }
.content .content-right{
    display: block;
    width: 100%;
}
.content .content-right img{
    width: 400px;
    height: auto;
    position: relative;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
 }
}


.menu2{
    margin: 0 100px;
}
.middle{
    margin: 100px 0 0 200px;
    width: 70%;
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}
.middle img{
    width: 12%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.6);
    transition: all ease-in-out 0.5s;
    margin-top: 20px;
}
.middle img:hover{
    width: 25%;
}

.left{
    width: 50%;
}
.middle2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 100px;
}
.middle2 .left .img img{
    margin-top: 70px;
    padding: 60px;
    width: 650px;
    height: 650px;  
}
.middle2 .right .info h4{
    margin-bottom: 30px;
    color: #ff511c; 
    font-family: sans-serif;
}
.middle2 .right .info h1{
    font-size: 60px;
    font-family: sans-serif;
}
.middle2 .right .info p{
    margin-top: 40px;
}
.middle2 .right .icons{
    margin-top: 40px;
}
.icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-info{
    text-align: center;

}
.icons .matn{
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.middle2 .right .icons .icon-info .burger{
    color: #ff511c;
    font-size: 40px;
}
.middle2 .right .icons .icon-info .matn{
    margin-top: 20px;
}

.middle3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 100px; */
}
.middle3 .image1 img{
    width: 485px;
    height: 400px;
}
.middle3 .image2 img{
    width: 485px;
    height: 400px;
}
.middle3 .image3 img{
    width: 485px;
    height: 400px;
}




.category{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    /* margin: 0 100px; */
    /* margin-top: 20px; */
}
.category .list-items{
    width: 90%;
    position: relative;
    margin-top: 50px;
}
.category .list-items h3{
    font-size: 27px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 70px;
    text-align: center;
    color: #ff511c;
}
.category .list-items .card-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.category .card-list .card{
    margin-top: 40px;
    width: 210px;
    height: auto;
    display: block;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    left: 50px;
    background: #ffffff;
    outline: 2px solid #faad96;
}
.category .card-list .card img{
    width: 100px;
    height: auto;
    bottom: 185px;
    left: 50px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0px 20px 20px #faad96;
    border-radius: 50%;
}
.category .card-list .card .food-title{
    padding: 40px 0 10px;
}
.category .card-list .card .food-title h1{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    font-family: sans-serif;
}
.category .card .desc-food{
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: sans-serif;
}
.category .card .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category .card .price span .icon2{
    color: #ff511c;
    font-size: 20px;
    cursor: pointer;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.bottom1{
    margin-top: 30px;
}
.bottom .left-side{
    width: 30%;
}
.bottom .left-side img{
    width: 100%;
    height: 420px;
    border-radius: 20px;
    border: 10px solid #ffeae0;
}
.bottom .right-side{
    width: 30%;
}
.bottom .right-side img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: 5px solid #ffeae0;
}
.bottom2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.bottom2 .chap{
    width: 30%;
}
.bottom2 .chap img{
    width: 100%;
    height: 400px;
}
.bottom2 .ong{
    width: 30%;
}
.bottom2 .ong .chap-info h4{
    color: #ff511c;
    font-family: sans-serif;
}
.bottom2 .ong .chap-info h1{
    font-family: sans-serif;
    font-size: 50px;
    margin-top: 25px;
}
.bottom2 .ong .chap-info p{
    margin-top: 25px;
    font-size: 15px;
}
.bottom2 .ong .ong-info{
    display: flex;
    margin-top: 25px;
    gap: 50px;
}
.bottom2 .ong .ong-info h2{
    color: #ff511c;
    font-size: 35px;
    font-family: sans-serif;
}
.bottom2 .ong .ong-info h5{
    text-transform: uppercase;
}
/* .bokek{
    width: 100%;
}
.bokek img{
    width: 100%;
    height: 600px;
} */


.boddy{
    font-family: 'poppins',sans-serif;
    margin-top: 70px;
}
footer{
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    background: linear-gradient(to right,#3c0000, #751e00);
    color: white;
    padding: 90px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between ;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.row .col h1{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.row .col ul li{
    list-style: none;
    margin-bottom: 12px;
}
.row .col ul li a{
    text-decoration: none;
    color: #fff;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;
}
form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fas{
    font-size: 16px;
    color: #ccc;
}
.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;

}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 4px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px ;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    font: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}










::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #ff511c;
}